<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.server.mapper.LivestockMapper">
    <select id="getAllLivestock" resultType="com.server.model.models.livestock.LivestockModel">
        SELECT tag_id AS tagID,
        animal_type AS animalType,
        age AS age,
        diet AS diet,
        weight AS weight,
        last_fed AS lastFed,
        harvestable AS harvestable,
        last_violated_for_harvested_goods AS lastViolatedForHarvestedGoods
        FROM livestock
        ORDER BY tagID
    </select>
    <select id="getLivestockByID">
        SELECT tag_id AS tagID,
        animal_type AS animalType,
        age AS age,
        diet AS diet,
        weight AS weight,
        last_fed AS lastFed,
        harvestable AS harvestable,
        last_violated_for_harvested_goods AS lastViolatedForHarvestedGoods
        FROM livestock
        WHERE tag_id = #{tagID}
    </select>

    <insert id="insertLivestock">
        INSERT INTO livestock (tag_id, animal_type, age, diet, weight, last_fed, harvestable,
        last_violated_for_harvested_goods)
        VALUES (#{livestock.tagID}, #{livestock.animalType}, #{livestock.age}, #{livestock.diet}, #{livestock.weight},
        #{livestock.lastFed}, #{livestock.harvestable}, #{livestock.lastViolatedForHarvestedGoods})
    </insert>

    <update id="updateLivestock">
        UPDATE livestock
        SET animal_type = #{livestock.animalType},
        age = #{livestock.age},
        diet = #{livestock.diet},
        weight = #{livestock.weight},
        last_fed = #{livestock.lastFed},
        harvestable = #{livestock.harvestable},
        last_violated_for_harvested_goods = #{livestock.lastViolatedForHarvestedGoods}
        WHERE tag_id = #{tagID}
    </update>

    <delete id="deleteLivestock">
        DELETE FROM livestock
        WHERE tag_id = #{tagID}
    </delete>
</mapper>