<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fms.mapper.LivestockMapper">
    <select id="get-all-livestock" resultType="com.server.model.models.livestock.LivestockModel">
        SELECT tag_id AS tagID,
               animal_type AS animalType,
               age AS age,
               diet AS diet,
               weight AS weight,
               last_fed AS lastFed,
               harvestable AS harvestable,
               last_violated_for_harvested_goods AS lastViolatedForHarvestedGoods
        FROM livestock
        ORDER BY tagID
    </select>

    <select id="get-all-users" resultType="com.server.model.models.livestock.LivestockModel">
        SELECT id as id,
               first_name as firstName,
               last_name as lastName,
               email,
               password,
               username
        from people
        order by id
    </select>
    <insert id="insert-livestock" parameterType="com.server.model.models.livestock.LivestockModel">
        INSERT INTO livestock (tagID, animalType, age, diet, weight, lastFed, harvestable, lastViolatedForHarvestedGoods)
        VALUES (#{tagID}, #{animalType}, #{age}, #{diet}, #{weight}, #{lastFed}, #{harvestable}, #{lastViolatedForHarvestedGoods})
    </insert>

   <!-- <insert id="insert-user" parameterType="int" useGeneratedKeys="true" keyProperty="id">
        insert people (first_name,last_name,email,password,username) values (#{firstName},#{lastName},#{email},#{password},#{username})
    </insert>

    <update id="update-user" parameterType="com.fms.mapper.LivestockMapper">
        UPDATE people
        SET
            first_name = #{firstName},
            last_name = #{lastName},
            email = #{email},
            password = #{password},
            username = #{username}
        WHERE id = #{id};
    </update>-->


</mapper>